<!--
 <mat-form-field appearance="outline">
  <mat-label>Local</mat-label>
  <mat-select [formControl]="local">
    <mat-option *ngFor="let e of (local$ | async)">
      {{e.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
<header>
  <mat-form-field style="font-size: 14px" appearance="outline">
    <mat-label>Elija una fecha</mat-label>
    <input matInput [matDatepicker]="picker" [value]="initialDate" (dateChange)="salePorFecha($event.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker  #picker></mat-datepicker>
  </mat-form-field>
</header>

<div class="flex-container " *ngIf="dataSource">


  <app-sale-table [data]="dataSource"></app-sale-table>


      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <p class="mat-headline-3">Caja: ${{total}}</p>
          <p class="mat-h4">{{dataSource?.length}} ventas realizadas</p>
        </mat-card-content>

      </mat-card>


      <app-schedule-chart [data]="dataSource"></app-schedule-chart>
      <app-account-chart [data]="dataSource"></app-account-chart>
      <app-payment-method-chart [data]="dataSource"></app-payment-method-chart>
      <app-brand-chart [data]="dataSource"></app-brand-chart>

  </div>

<div class="flex-container-2">
    <annual-chart></annual-chart>
</div>
