


mat-acordion{
  width: 75%;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}


.buttons > *{
  margin: 0.7rem;
}

mat-form-field{
  margin-left: 1%;
  margin-right: 1%;
}

.roles{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

mat-card > *{
  margin: 0.7rem;
}
