<form novalidate [formGroup]="formGroup" (ngSubmit)="operar()" #f="ngForm">
  <div class="grid-flexbox">
    <div class="flex-item1">
      <button mat-button color="primary" onclick="document.getElementById('flArchivo').click()">Seleccionar</button>
      <input id="flArchivo" type="file" style="display: none;" (change)="seleccionarArchivo($event)">

      <button mat-raised-button color="primary" (click)="subirArchivo()" [disabled]="!archivosSeleccionados">Subir
        Archivo</button>

      <p class="text-center mat-body">{{account.username}} {{account.last_name}}</p>

      <mat-form-field appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select [compareWith]="compareObjects" multiple formControlName="roles">
          <mat-option *ngFor="let e of (role$ | async) " [value]="e">
            {{e.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="modificar">
        <button mat-raised-button color="primary">
          <mat-icon>key</mat-icon>
          Cambiar clave
        </button>

      </div>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
        Guardar
      </button>

    </div>

    <div class="flex-item2">

      <mat-card-header>
        <mat-card-title>
          Login
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">

          <mat-form-field appearance="outline">
            <mat-label>Accountname</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>

          <div *ngIf="!modificar">
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Contraseña" formControlName="password">
            </mat-form-field>
          </div>

        </div>
      </mat-card-content>


      <mat-card-header>
        <mat-card-title>
          Datos personales
        </mat-card-title>
      </mat-card-header>

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombres" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="last_name">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input formControlName="email" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <input formControlName="address" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Altura</mat-label>
        <input formControlName="height" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input formControlName="phone" matInput>
      </mat-form-field>
    </div>
  </div>
</form>
