<table mat-table [dataSource]="dataSource" class=" mat-elevation-z0">

  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef>
      Producto
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.product?.name ? element.product.name : element.name}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.product?.brand?.name}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button *ngIf="element.quantity !== 1" (click)="element.quantity = element.quantity - 1 " mat-icon-button>
        <mat-icon>remove</mat-icon>
      </button>
      {{element.quantity | number}}
      <button (click)="element.quantity = element.quantity + 1 " mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="priceUnidad">
    <mat-header-cell *matHeaderCellDef>Precio por unidad</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.product?.salePrice ? element.product.salePrice : element.price |
      currency:"$":"symbol"}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" class="justify-content-end">
      <button mat-icon-button color="" matTooltipShowDelay="600" matTooltip="Eliminar"
        (click)="removerDetalle(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
    <mat-footer-cell color="primary" *matFooterCellDef>
      <p class="mat-h2"> Total {{getTotalCost() | currency:'USD'}} </p>
    </mat-footer-cell>
  </ng-container>

  <mat-header-row class="mat-elevation-z2" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row class="mat-elevation-z2 my-1" matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row class="mat-elevation-z2" *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
</table>
